<h1>{{currentCategoryName}}</h1>
<div>

    <label> Bookmarks </label>
    <ul class="nav nav-sidebar">
        <li ng-repeat="bookmark in bookmarks | filter: {category: currentCategory.name }">
            <a href="#">{{bookmark.title}}</a>
        </li>
    </ul>

    <button ng-click="enterCreatingMode()"> Start Creating</button>

    <button ng-if="isCreating()" ng-click="resetCreatingMode()"> Stop Creating</button>

    <form ng-if="isCreating()" role="form" ng-submit="createBookmark(newBookmark)">
        <div>
            <label for="newBookmarkTitle">Title</label>
            <input type="text" id="newBookmarkUrl" ng-model="newBookmark.title">
            <newline></newline>
            <label for="newBookmarkTitle">Url</label>
            <input type="text" id="newBookmarkUrl" ng-model="newBookmark.url">
            <button type="submit">Create bookmark</button>
        </div>
    </form>


</div>